.addService {
    width: 100%;
    height: 600px;
    background-image: url('../../images/withPhone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.addService input{
    margin-bottom: 10px;
}